/*
 * Ziqni Admin Api
 * Ziqni Application Services are used to manage and configure spaces.
 *
 * The version of the OpenAPI document: 3.0.1
 * Contact: support@ziqni.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.ziqni.admin.client.api;

import com.ziqni.admin.client.StreamingClient;
import com.ziqni.admin.client.ApiClient;
import com.ziqni.admin.client.ApiException;
import com.ziqni.admin.client.ApiResponse;
import com.ziqni.admin.client.Pair;
import com.ziqni.admin.client.model.CollaboratorResponse;
import com.ziqni.admin.client.model.CollaboratorRolesResponse;
import com.ziqni.admin.client.model.CreateCollaboratorRequest;
import com.ziqni.admin.client.model.ModelApiResponse;
import com.ziqni.admin.client.model.QueryRequest;
import com.ziqni.admin.client.model.UpdateCollaboratorRequest;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.time.Duration;
import java.util.*;

import java.util.concurrent.CompletableFuture;

@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen")
    public class CollaboratorsApiWs extends CollaboratorsApi {
    private final ApiClient apiClient;
    private final ObjectMapper memberVarObjectMapper;
    private final Duration memberVarReadTimeout;
    private final StreamingClient streamingClient;

    public CollaboratorsApiWs(ApiClient apiClient, StreamingClient streamingClient, Duration readTimeout) {
        this.apiClient = apiClient;
        this.memberVarObjectMapper = apiClient.getObjectMapper();
        this.streamingClient = streamingClient;
        this.memberVarReadTimeout = null;
    }

        /**
        * 
        * Create a new Collaborator in the Ziqni
            * @param body Create a Collaborator in the Ziqni system (required)
            * @return CompletableFuture&lt;ModelApiResponse&gt;
        * @throws ApiException if fails to make API call
        */
        public CompletableFuture<ModelApiResponse> createCollaborators(List<CreateCollaboratorRequest> body) {
        var request = new HashMap<String, Object>();
        
                

        
                
        request.put("body",body);

        CompletableFuture<ModelApiResponse> result = this.streamingClient.sendWithApiCallback("/aapi/createCollaborators", request);
        return result;
        }
        /**
        * 
        * Returns a list of Collaborators. This assumes that Users have first been uploaded via a POST request or web console
            * @param emails The list of user emails to search by (optional
            * @return CompletableFuture&lt;ModelApiResponse&gt;
        * @throws ApiException if fails to make API call
        */
        public CompletableFuture<ModelApiResponse> deleteCollaborators(List<String> emails) {
        var request = new HashMap<String, Object>();
        var queryParam = new HashMap<String, Object>();
        queryParam.put("emails", emails);
        request.put("query",queryParam);

        
                
        

        CompletableFuture<ModelApiResponse> result = this.streamingClient.sendWithApiCallback("/aapi/deleteCollaborators", request);
        return result;
        }
        /**
        * 
        * Returns a list of Collaborators. This assumes that Users have first been uploaded via a POST request or web console
            * @return CompletableFuture&lt;CollaboratorRolesResponse&gt;
        * @throws ApiException if fails to make API call
        */
        public CompletableFuture<CollaboratorRolesResponse> getAvailableRolesForCollaborators() {
        var request = new HashMap<String, Object>();
        
                

        
                
        

        CompletableFuture<CollaboratorRolesResponse> result = this.streamingClient.sendWithApiCallback("/aapi/getAvailableRolesForCollaborators", request);
        return result;
        }
        /**
        * 
        * Returns a list of Collaborators. This assumes that Users have first been uploaded via a POST request or web console
            * @param emails The list of user emails to search by (optional
            * @param limit Limit the returned total records found (optional)
            * @param skip Skip the returned records found and return the next batch of records (optional)
            * @return CompletableFuture&lt;CollaboratorResponse&gt;
        * @throws ApiException if fails to make API call
        */
        public CompletableFuture<CollaboratorResponse> getCollaborators(List<String> emails, Integer limit, Integer skip) {
        var request = new HashMap<String, Object>();
        var queryParam = new HashMap<String, Object>();
        queryParam.put("emails", emails);
queryParam.put("limit", limit);
queryParam.put("skip", skip);
        request.put("query",queryParam);

        
                
        

        CompletableFuture<CollaboratorResponse> result = this.streamingClient.sendWithApiCallback("/aapi/getCollaborators", request);
        return result;
        }
        /**
        * NOT AVAILABLE IN CURRENT RELEASE
        * Retrieve collaborators for the account
            * @param body Retrieve collaborators for the account (optional)
            * @return CompletableFuture&lt;CollaboratorResponse&gt;
        * @throws ApiException if fails to make API call
        */
        public CompletableFuture<CollaboratorResponse> getCollaboratorsByQuery(QueryRequest body) {
        var request = new HashMap<String, Object>();
        
                

        
                
        request.put("body",body);

        CompletableFuture<CollaboratorResponse> result = this.streamingClient.sendWithApiCallback("/aapi/getCollaboratorsByQuery", request);
        return result;
        }
        /**
        * 
        * Update an existing Collaborator in the Ziqni system
            * @param body Update a Collaborator in the Ziqni system. * Any Put body Parameters that are excluded in the Request body field will be considered as empty and updated with an empty field (required)
            * @return CompletableFuture&lt;ModelApiResponse&gt;
        * @throws ApiException if fails to make API call
        */
        public CompletableFuture<ModelApiResponse> updateCollaborators(List<UpdateCollaboratorRequest> body) {
        var request = new HashMap<String, Object>();
        
                

        
                
        request.put("body",body);

        CompletableFuture<ModelApiResponse> result = this.streamingClient.sendWithApiCallback("/aapi/updateCollaborators", request);
        return result;
        }
        }
