/*
 * ZIQNI Admin API
 * Ziqni Application Services are used to manage and configure spaces.
 *
 * The version of the OpenAPI document: 3.0.1
 * Contact: support@ziqni.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.ziqni.admin.client.api;

import com.ziqni.admin.client.StreamingClient;
import com.ziqni.admin.client.ApiClient;
import com.ziqni.admin.client.ApiException;
import com.ziqni.admin.client.ApiResponse;
import com.ziqni.admin.client.Pair;
import com.ziqni.admin.client.model.CreateRepositoryRequest;
import com.ziqni.admin.client.model.ModelApiResponse;
import com.ziqni.admin.client.model.QueryRequest;
import com.ziqni.admin.client.model.RepositoryResponse;
import com.ziqni.admin.client.model.UpdateRepositoryRequest;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.time.Duration;
import java.util.*;

import java.util.concurrent.CompletableFuture;

@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen")
    public class FileRepositoriesApiWs extends FileRepositoriesApi {
    private final ApiClient apiClient;
    private final ObjectMapper memberVarObjectMapper;
    private final Duration memberVarReadTimeout;
    private final StreamingClient streamingClient;

    public FileRepositoriesApiWs(ApiClient apiClient, StreamingClient streamingClient, Duration readTimeout) {
        this.apiClient = apiClient;
        this.memberVarObjectMapper = apiClient.getObjectMapper();
        this.streamingClient = streamingClient;
        this.memberVarReadTimeout = null;
    }

        /**
        * 
        * Create a new file object repository in your Ziqni space
            * @param body Create a new file object repository in your Ziqni space (required)
            * @return CompletableFuture&lt;ModelApiResponse&gt;
        * @throws ApiException if fails to make API call
        */
        public CompletableFuture<ModelApiResponse> createFileRepositories(List<CreateRepositoryRequest> body) {
        var request = new HashMap<String, Object>();
        
                

        
                
        request.put("body",body);

        CompletableFuture<ModelApiResponse> result = this.streamingClient.sendWithApiCallback("/aapi/createFileRepositories", request);
        return result;
        }
        /**
        * 
        * Delete the file repository for a given identifier specified
            * @param id The unique identifiers of the resources (optional
            * @param permanent Permanently delete the file object. Default is false (optional)
            * @return CompletableFuture&lt;ModelApiResponse&gt;
        * @throws ApiException if fails to make API call
        */
        public CompletableFuture<ModelApiResponse> deleteFileRepositories(List<String> id, Boolean permanent) {
        var request = new HashMap<String, Object>();
        var queryParam = new HashMap<String, Object>();
        queryParam.put("id", id);
queryParam.put("permanent", permanent);
        request.put("query",queryParam);

        
                
        

        CompletableFuture<ModelApiResponse> result = this.streamingClient.sendWithApiCallback("/aapi/deleteFileRepositories", request);
        return result;
        }
        /**
        * NOT AVAILABLE IN CURRENT RELEASE
        * Delete repositories nby query. Delete repositories by query and/or unique repository ID&#39;s or any other body parameters
            * @param body Delete repositories from a Ziqni space by unique repository ID&#39;s or any other POST body parameters using the POST method (optional)
            * @return CompletableFuture&lt;ModelApiResponse&gt;
        * @throws ApiException if fails to make API call
        */
        public CompletableFuture<ModelApiResponse> deleteFileRepositoriesByQuery(QueryRequest body) {
        var request = new HashMap<String, Object>();
        
                

        
                
        request.put("body",body);

        CompletableFuture<ModelApiResponse> result = this.streamingClient.sendWithApiCallback("/aapi/deleteFileRepositoriesByQuery", request);
        return result;
        }
        /**
        * 
        * Returns a list of file object repositories. This assumes that repositories have first been uploaded via a POST request or web console
            * @param limit Limit the returned total records found (optional)
            * @param skip Skip the returned records found and return the next batch of records (optional)
            * @param id The unique identifiers of the resources (optional
            * @return CompletableFuture&lt;RepositoryResponse&gt;
        * @throws ApiException if fails to make API call
        */
        public CompletableFuture<RepositoryResponse> getFileRepositories(Integer limit, Integer skip, List<String> id) {
        var request = new HashMap<String, Object>();
        var queryParam = new HashMap<String, Object>();
        queryParam.put("limit", limit);
queryParam.put("skip", skip);
queryParam.put("id", id);
        request.put("query",queryParam);

        
                
        

        CompletableFuture<RepositoryResponse> result = this.streamingClient.sendWithApiCallback("/aapi/getFileRepositories", request);
        return result;
        }
        /**
        * 
        * Find file object repositories by query
            * @param body Retrieve file object repositories from Ziqni by unique repository ID&#39;s or any other POST body parameters using the POST method (optional)
            * @return CompletableFuture&lt;RepositoryResponse&gt;
        * @throws ApiException if fails to make API call
        */
        public CompletableFuture<RepositoryResponse> getFileRepositoriesByQuery(QueryRequest body) {
        var request = new HashMap<String, Object>();
        
                

        
                
        request.put("body",body);

        CompletableFuture<RepositoryResponse> result = this.streamingClient.sendWithApiCallback("/aapi/getFileRepositoriesByQuery", request);
        return result;
        }
        /**
        * 
        * Update a file object repository in your Ziqni space.
            * @param body Update a file object repository in your Ziqni space. (required)
            * @return CompletableFuture&lt;ModelApiResponse&gt;
        * @throws ApiException if fails to make API call
        */
        public CompletableFuture<ModelApiResponse> updateFileRepositories(List<UpdateRepositoryRequest> body) {
        var request = new HashMap<String, Object>();
        
                

        
                
        request.put("body",body);

        CompletableFuture<ModelApiResponse> result = this.streamingClient.sendWithApiCallback("/aapi/updateFileRepositories", request);
        return result;
        }
        }
