/*
 * Ziqni Admin Api
 * Ziqni Application Services are used to manage and configure spaces.
 *
 * The version of the OpenAPI document: 3.0.1
 * Contact: support@ziqni.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.ziqni.admin.client.api;

import com.ziqni.admin.client.StreamingClient;
import com.ziqni.admin.client.ApiClient;
import com.ziqni.admin.client.ApiException;
import com.ziqni.admin.client.ApiResponse;
import com.ziqni.admin.client.Pair;
import com.ziqni.admin.client.model.CreateRewardTypeRequest;
import com.ziqni.admin.client.model.ModelApiResponse;
import com.ziqni.admin.client.model.QueryRequest;
import com.ziqni.admin.client.model.RewardTypeResponse;
import com.ziqni.admin.client.model.UpdateRewardTypeRequest;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.time.Duration;
import java.util.*;

import java.util.concurrent.CompletableFuture;

@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen")
    public class RewardTypesApiWs extends RewardTypesApi {
    private final ApiClient apiClient;
    private final ObjectMapper memberVarObjectMapper;
    private final Duration memberVarReadTimeout;
    private final StreamingClient streamingClient;

    public RewardTypesApiWs(ApiClient apiClient, StreamingClient streamingClient, Duration readTimeout) {
        this.apiClient = apiClient;
        this.memberVarObjectMapper = apiClient.getObjectMapper();
        this.streamingClient = streamingClient;
        this.memberVarReadTimeout = null;
    }

        /**
        * Create reward types
        * Create new Reward types in the Ziqni database
            * @param body Create Reward Types in the Ziqni database (required)
            * @return CompletableFuture&lt;ModelApiResponse&gt;
        * @throws ApiException if fails to make API call
        */
        public CompletableFuture<ModelApiResponse> createRewardTypes(List<CreateRewardTypeRequest> body) {
        var request = new HashMap<String, Object>();
        
                

        
                
        request.put("body",body);

        CompletableFuture<ModelApiResponse> result = this.streamingClient.sendWithApiCallback("/aapi/createRewardTypes", request);
        return result;
        }
        /**
        * Delete reward types
        * Delete Reward types for a given identifier specified
            * @param id The unique identifiers of the resources (optional
            * @return CompletableFuture&lt;ModelApiResponse&gt;
        * @throws ApiException if fails to make API call
        */
        public CompletableFuture<ModelApiResponse> deleteRewardTypes(List<String> id) {
        var request = new HashMap<String, Object>();
        var queryParam = new HashMap<String, Object>();
        queryParam.put("id", id);
        request.put("query",queryParam);

        
                
        

        CompletableFuture<ModelApiResponse> result = this.streamingClient.sendWithApiCallback("/aapi/deleteRewardTypes", request);
        return result;
        }
        /**
        * Delete reward types by query
        * Delete Reward types from Ziqni database by unique Reward types ID&#39;s or any other POST body parameters using the POST method
            * @param body Delete Reward types from Ziqni database by unique Reward types ID&#39;s or any other POST body parameters using the POST method (optional)
            * @return CompletableFuture&lt;ModelApiResponse&gt;
        * @throws ApiException if fails to make API call
        */
        public CompletableFuture<ModelApiResponse> deleteRewardTypesByQuery(QueryRequest body) {
        var request = new HashMap<String, Object>();
        
                

        
                
        request.put("body",body);

        CompletableFuture<ModelApiResponse> result = this.streamingClient.sendWithApiCallback("/aapi/deleteRewardTypesByQuery", request);
        return result;
        }
        /**
        * Get reward types
        * Returns a list of Reward Types. This assumes that reward types have first been uploaded via a POST request or web console
            * @param id The unique identifiers of the resources (optional
            * @param limit Limit the returned total records found (optional)
            * @param skip Skip the returned records found and return the next batch of records (optional)
            * @return CompletableFuture&lt;RewardTypeResponse&gt;
        * @throws ApiException if fails to make API call
        */
        public CompletableFuture<RewardTypeResponse> getRewardTypes(List<String> id, Integer limit, Integer skip) {
        var request = new HashMap<String, Object>();
        var queryParam = new HashMap<String, Object>();
        queryParam.put("id", id);
queryParam.put("limit", limit);
queryParam.put("skip", skip);
        request.put("query",queryParam);

        
                
        

        CompletableFuture<RewardTypeResponse> result = this.streamingClient.sendWithApiCallback("/aapi/getRewardTypes", request);
        return result;
        }
        /**
        * Get reward types by query
        * Retrieve Reward types from Ziqni database by unique Reward type ID&#39;s or any other POST body parameters using the POST method
            * @param body Retrieve Reward types from Ziqni database by unique Reward type ID&#39;s or any other POST body parameters using the POST method (optional)
            * @return CompletableFuture&lt;RewardTypeResponse&gt;
        * @throws ApiException if fails to make API call
        */
        public CompletableFuture<RewardTypeResponse> getRewardTypesByQuery(QueryRequest body) {
        var request = new HashMap<String, Object>();
        
                

        
                
        request.put("body",body);

        CompletableFuture<RewardTypeResponse> result = this.streamingClient.sendWithApiCallback("/aapi/getRewardTypesByQuery", request);
        return result;
        }
        /**
        * Update Reward Types
        * Update existing Reward types in the Ziqni database
            * @param body Update Reward types in the Ziqni database. (required)
            * @return CompletableFuture&lt;ModelApiResponse&gt;
        * @throws ApiException if fails to make API call
        */
        public CompletableFuture<ModelApiResponse> updateRewardTypes(List<UpdateRewardTypeRequest> body) {
        var request = new HashMap<String, Object>();
        
                

        
                
        request.put("body",body);

        CompletableFuture<ModelApiResponse> result = this.streamingClient.sendWithApiCallback("/aapi/updateRewardTypes", request);
        return result;
        }
        }
