/*
 * Ziqni Admin Api
 * Ziqni Application Services are used to manage and configure spaces.
 *
 * The version of the OpenAPI document: 3.0.1
 * Contact: support@ziqni.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.ziqni.admin.client.api;

import com.ziqni.admin.client.StreamingClient;
import com.ziqni.admin.client.ApiClient;
import com.ziqni.admin.client.ApiException;
import com.ziqni.admin.client.ApiResponse;
import com.ziqni.admin.client.Pair;
import com.ziqni.admin.client.model.MemberTokenRequest;
import com.ziqni.admin.client.model.TokenResponse;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.time.Duration;
import java.util.*;

import java.util.concurrent.CompletableFuture;

@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen")
    public class TokenApiWs extends TokenApi {
    private final ApiClient apiClient;
    private final ObjectMapper memberVarObjectMapper;
    private final Duration memberVarReadTimeout;
    private final StreamingClient streamingClient;

    public TokenApiWs(ApiClient apiClient, StreamingClient streamingClient, Duration readTimeout) {
        this.apiClient = apiClient;
        this.memberVarObjectMapper = apiClient.getObjectMapper();
        this.streamingClient = streamingClient;
        this.memberVarReadTimeout = null;
    }

        /**
        * 
        * Get Jwt Token
            * @param memberTokenRequest  (required)
            * @return CompletableFuture&lt;TokenResponse&gt;
        * @throws ApiException if fails to make API call
        */
        public CompletableFuture<TokenResponse> createMemberToken(MemberTokenRequest memberTokenRequest) {
        var request = new HashMap<String, Object>();
        
                

        
                
        request.put("memberTokenRequest",memberTokenRequest);

        CompletableFuture<TokenResponse> result = this.streamingClient.sendWithApiCallback("/aapi/createMemberToken", request);
        return result;
        }
        }
